body {

}

h2 {
    font-family: "Garamond", serif;
    color: #862633;
}

/* a {
	text-decoration: none;
	color: #862633;
	outline: none;
} */

/* a:hover,
a:focus {
	color: #bba077;
	outline: none;
} */

.text{
  width: 100%;
  text-align: left;
  font-size: 40px;
  pointer-events: none;
  font-family:sans-serif;
}

#title {
  position: absolute;
  top: 125px;
  left:75px;
}

#move_info {
  position: absolute;
  font-size: 25px;
  top: 400px;
  left:350px;
}

#pause_info {
  position: absolute;
  font-size: 25px;
  top: 450px;
  left:350px;
}

#start {
  position: absolute;
  top: 500px;
  left:350px;
}

#pause{
  position: absolute;
  top: 330px;
  left:275px;
  width: 100%;
  text-align: left;
  font-size: 64px;
  pointer-events: none;
  font-family:sans-serif;
}

#tokens{
  position: absolute;
  top: 680px;
  left: 30px;
  width: 100%;
  text-align: left;
  pointer-events: none;
  font-family:sans-serif;
}

#deaths{
  position: absolute;
  top: 680px;
  left: 140px;
  width: 100%;
  text-align: left;
  pointer-events: none;
  font-family:sans-serif;
}
