body {

}

h2 {
    font-family: "Garamond", serif;
    color: #862633;
}

.text{
  width: 100%;
  text-align: left;
  font-size: 40px;
  pointer-events: none;
  font-family:sans-serif;
  font-weight:100;
}

#title {
  font-family: "Garamond", serif;
  font-weight:bold;
  color: #862633;
  position: absolute;
  top: 100px;
  left:150px;
  font-size:64px;
}

#move_info {
  position: absolute;
  font-size: 25px;
  top: 350px;
  left:275px;
}

#pause_info {
  position: absolute;
  font-size: 25px;
  top: 400px;
  left:300px;
}

#start {
  position: absolute;
  top: 450px;
  left:295px;
}

#pause{
  position: absolute;
  top: 330px;
  left:275px;
  width: 100%;
  text-align: left;
  font-size: 64px;
  pointer-events: none;
  font-family:sans-serif;
}

#tokens{
  margin-left:20px;
  text-align: left;
  pointer-events: none;
  font-family:sans-serif;
  white-space:pre;
}

#You_win{
  font-family: "Garamond", serif;
  font-weight:bold;
  position: absolute;
  font-size: 100px;
  top: 150px;
  color:#862633;
  left:205px;
  /* text-align:center; */
}
#thanks{
  position: absolute;
  font-size: 25px;
  top: 350px;
  left:290px;
  font-weight:100;
  font-family:sans-serif;
}
#madeBy{
  position: absolute;
  font-size: 25px;
  top: 400px;
  left:75px;
  font-weight:100;
  font-family:sans-serif;
}
#finalTokens{
  position: absolute;
  font-size: 25px;
  top: 450px;
  left:290px;
  font-weight:100;
  font-family:sans-serif;
}
