body {

}

h2 {
    font-family: "Garamond", serif;
    color: #862633;
}

p{

}

#pause{
  position: absolute;
  top: 330px;
  left:275px;
  width: 100%;
  text-align: left;
  font-size: 64px;
  pointer-events: none;
  font-family:sans-serif;
}

#tokens{
  position: absolute;
  bottom: 5vh;
  left: 30px;
  width: 100%;
  text-align: left;
  pointer-events: none;
}

#deaths{
  position: absolute;
  bottom: 5vh;
  left: 140px;
  width: 100%;
  text-align: left;
  pointer-events: none;
}
